
<div class="container">
  <!-- <h2>Movies List:</h2> -->
  <div class="row">
    <div *ngFor="let item of imagesAr" class="col-lg-4 p-4">
      <div class="shadow p-2 overflow-hidden hoverable" [style]="{height:'100%'}">
        <!-- <span class="d-flex justify-content-around imgTitle shadow"> Some Name</span> -->
        <a routerLink="/single/{{item.id}}"><img src="{{item.webformatURL}}" class=" mb-1 w-100 h-100"></a>
        <div class="row d-flex justify-content-center">
          <div class="d-flex justify-content-around mt-2 mb-2 picDetails">
            <div><i class="fas fa-heart"></i> {{item.favorites}}</div>
            <div><i class="far fa-eye"></i> {{item.views}}</div>
            <div><i class="fas fa-thumbs-up"></i> {{item.likes}}</div>
          </div>
      </div>
    </div>
  </div>
</div>
