.hoverable:hover{
     transform: scale(1.05);
     transition: all .2s ease-in;
}
.hoverable{
     transition: all .15s ease-out;
}
.picDetails{
     padding: 10px;
     color: #fff;
     position: relative;
     transition: all .2s ease-out;
     transform: translateY(-0%);
}
.hoverable:hover .picDetails{
    transform: translateY(-110%);
    transition: all .2s ease-in;
}
.picDetails div{
     width: 30%;
     border-radius: 10px;
     text-align: center;
     background-color: rgba(0, 0, 0, 0.256);
}
.scrollUp{
  position: fixed;
  bottom: 0;
right: 0;
margin-bottom: 5px;
margin-right: 5px;
  background-color: #1b875580;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: all .25s ease-out;
  cursor: pointer;
}
.scrollUp:hover{
  background-color: #1b8755e6;
  transition: all .3s ease-in;
}

@media screen and (max-width: 992px) {
  .picDetails{
    transform: translateY(-110%);
    transition: all .2s ease-in;
}
}