.hero{
     min-height: 40vh;
     background-image: url('../../../assets/meadow-3743023_640.jpg');
     background-size: cover;
}

button{
     border-radius: 20px;
     width: 100px;
}
input{
     background-color: rgba(255, 255, 255, 0.8);
}